[submodule "build"]
	branch = 1567ddf6e3b0cf660e19a8d7e3f0ecd0fccc77ff
	path = build
	url = ../build
[submodule "buildtools"]
	branch = master
	path = buildtools
	url = ../buildtools
[submodule "docs"]
	branch = master
	path = docs
	url = ../docs
[submodule "garnet"]
	branch = d7bbb92ef77d8683ef99dd283592fcdf0e0814d0
	path = garnet
	url = ../garnet
[submodule "peridot"]
	branch = 600110b021afb23d5c6eb79419778beb71877c93
	path = peridot
	url = ../peridot
[submodule "scripts"]
	branch = db0278ddfaf677c5c3fc60f0710cf1ab1f856bfa
	path = scripts
	url = ../scripts
[submodule "third_party/angle"]
	branch = 04796cdada006a14b27c599245ebbb795b7a5f7d
	path = third_party/angle
	url = https://chromium.googlesource.com/angle/angle
[submodule "third_party/asio"]
	branch = b7b0aeca406bb60e981c20e6a9af1d0aae31fc48
	path = third_party/asio
	url = ../third_party/asio
[submodule "third_party/benchmark"]
	branch = 21f1eb3fe269ea43eba862bf6b699cde46587ade
	path = third_party/benchmark
	url = ../third_party/benchmark
[submodule "third_party/boringssl"]
	branch = a1344d62b1fc9019cb3b80c2d1b7fa52bb9384a9
	path = third_party/boringssl
	url = ../third_party/boringssl
[submodule "third_party/cairo"]
	branch = master
	shallow = true
	path = third_party/cairo
	url = ../third_party/cairo
[submodule "third_party/cares"]
	branch = 5dd7311f75417bb4882a4048c011fb0b14345a53
	path = third_party/cares
	url = ../third_party/c-ares
[submodule "third_party/catapult"]
	branch = c785d94f10500ef2842bf5cdf14585487b1c13e4
	path = third_party/catapult
	url = https://chromium.googlesource.com/catapult
[submodule "third_party/cobalt"]
	branch = 8c4265134c74507c8d33cd867004dcbd586664a4
	path = third_party/cobalt
	url = ../cobalt
[submodule "third_party/cobalt_config"]
	branch = fa45c54d318cee8d77aafffc6c52b3c539f74372
	path = third_party/cobalt_config
	url = https://cobalt-analytics.googlesource.com/config
[submodule "third_party/crashpad"]
	branch = f688cac5b97eb29264e6f539666fa8c78a2579d7
	path = third_party/crashpad
	url = ../third_party/crashpad
[submodule "third_party/curl"]
	branch = 8b3d7e5dbce3607c7a735e9cd84b47da991fbbfd
	path = third_party/curl
	url = ../third_party/curl
[submodule "third_party/dart-pkg/git/flutter"]
	branch = af764a51a94cad9d562805cc8ae3133b18b4f487
	path = third_party/dart-pkg/git/flutter
	url = https://chromium.googlesource.com/external/github.com/flutter/flutter
[submodule "third_party/dart-pkg/pub"]
	branch = 5f5f3ccda8df0ce3942f4b7e527a660896f52f93
	path = third_party/dart-pkg/pub
	url = ../third_party/dart-pkg
[submodule "third_party/dart"]
	branch = 97b6c2e09d6532eeb622d85f23109f3f3b6d2b61
	path = third_party/dart
	url = https://dart.googlesource.com/sdk
[submodule "third_party/expat"]
	branch = 66a4adc042f17bd113d3d940bcff46ec17c15f61
	path = third_party/expat
	url = ../third_party/expat
[submodule "third_party/ffmpeg"]
	branch = 10baac319a85fb21540779d72c8aa2329222b12a
	path = third_party/ffmpeg
	url = ../third_party/ffmpeg
[submodule "third_party/flatbuffers"]
	branch = f539331904a1f5f3e14f1fe7ccf767a40359c9d4
	path = third_party/flatbuffers
	url = ../third_party/flatbuffers
[submodule "third_party/flite"]
	branch = 3fb3d1f9813a7d71641d3aa5d0a055abbb2b2ada
	path = third_party/flite
	url = ../third_party/flite
[submodule "third_party/flutter"]
	branch = fb709e25e31fd078be84fe0969fc86a451ecfa87
	path = third_party/flutter
	url = https://chromium.googlesource.com/external/github.com/flutter/engine
[submodule "third_party/freetype2"]
	branch = bd6b6b9105f69808cbe50b5cde2775759eb0802d
	path = third_party/freetype2
	url = ../third_party/freetype2
[submodule "third_party/gflags"]
	branch = 90d1674de7ffc572267d9642d1a6436f168e80e7
	path = third_party/gflags
	url = ../third_party/gflags
[submodule "third_party/glm"]
	branch = 5dcc56489e1b66dfd5bca751fa9b8dc68059e008
	path = third_party/glm
	url = https://chromium.googlesource.com/external/github.com/g-truc/glm
[submodule "third_party/glog"]
	branch = fc4ff6b75c3f5a1678b47e1c2566fedc6c089dd0
	path = third_party/glog
	url = ../third_party/glog
[submodule "third_party/go"]
	branch = 91f7a080883d5da947cc08a4dcd0d286e56d7dd5
	path = third_party/go
	url = ../third_party/go
[submodule "third_party/golang/crypto"]
	branch = c78caca803c95773f48a844d3dcab04b9bc4d6dd
	path = third_party/golang/crypto
	url = ../third_party/golang/crypto
[submodule "third_party/golibs/github.com/dustin/go-humanize"]
	branch = 259d2a102b871d17f30e3cd9881a642961a1e486
	path = third_party/golibs/github.com/dustin/go-humanize
	url = ../third_party/go-humanize
[submodule "third_party/golibs/github.com/flynn/go-docopt"]
	branch = f6dd2ebbb31e9721c860cf1faf5c944aa73e3844
	path = third_party/golibs/github.com/flynn/go-docopt
	url = ../third_party/go-docopt
[submodule "third_party/golibs/github.com/flynn/go-tuf"]
	branch = 9a90537f4958d10dcaabf34fb85628274e7de328
	path = third_party/golibs/github.com/flynn/go-tuf
	url = ../third_party/go-tuf
[submodule "third_party/golibs/github.com/go-yaml/yaml"]
	branch = eb3733d160e74a9c7e442f435eb3bea458e1d19f
	path = third_party/golibs/github.com/go-yaml/yaml
	url = ../third_party/github.com/go-yaml/yaml
[submodule "third_party/golibs/github.com/golang/glog"]
	branch = 23def4e6c14b4da8ac2ed8007337bc5eb5007998
	path = third_party/golibs/github.com/golang/glog
	url = ../third_party/golang/glog
[submodule "third_party/golibs/github.com/golang/protobuf"]
	branch = 82b9a4b6ce577ceea38bd1c60d1d7a793eac6e9d
	path = third_party/golibs/github.com/golang/protobuf
	url = ../third_party/github.com/golang/protobuf
[submodule "third_party/golibs/github.com/golang/snappy"]
	branch = 553a641470496b2327abcac10b36396bd98e45c9
	path = third_party/golibs/github.com/golang/snappy
	url = ../third_party/golang/snappy
[submodule "third_party/golibs/github.com/google/go-cmp"]
	branch = 97aa668b73e764ccdd786bc3ccd2edffe621150e
	path = third_party/golibs/github.com/google/go-cmp
	url = ../third_party/github.com/google/go-cmp
[submodule "third_party/golibs/github.com/google/subcommands"]
	branch = ce3d4cfc062faac7115d44e5befec8b5a08c3faa
	path = third_party/golibs/github.com/google/subcommands
	url = ../third_party/github.com/google/subcommands
[submodule "third_party/golibs/github.com/kr/fs"]
	branch = 2788f0dbd16903de03cb8186e5c7d97b69ad387b
	path = third_party/golibs/github.com/kr/fs
	url = ../third_party/github.com/kr/fs
[submodule "third_party/golibs/github.com/pkg/errors"]
	branch = c605e284fe17294bda444b34710735b29d1a9d90
	path = third_party/golibs/github.com/pkg/errors
	url = ../third_party/github.com/pkg/errors
[submodule "third_party/golibs/github.com/pkg/sftp"]
	branch = 98203f5a8333288eb3163b7c667d4260fe1333e9
	path = third_party/golibs/github.com/pkg/sftp
	url = ../third_party/github.com/pkg/sftp
[submodule "third_party/golibs/github.com/syndtr/goleveldb"]
	branch = 52ea2dd038a560e2a5a69403fb759ca8a8968257
	path = third_party/golibs/github.com/syndtr/goleveldb
	url = ../third_party/goleveldb
[submodule "third_party/golibs/github.com/tent/canonical-json-go"]
	branch = 96e4ba3a7613a1216cbd1badca4efe382adea337
	path = third_party/golibs/github.com/tent/canonical-json-go
	url = ../third_party/canonical-json-go
[submodule "third_party/googleapis"]
	branch = a5e837ad4ef5b00eccfb93f2d97e8c52ad78bcbf
	path = third_party/googleapis
	url = ../third_party/googleapis
[submodule "third_party/googletest"]
	branch = f854f1d27488996dc8a6db3c9453f80b02585e12
	path = third_party/googletest
	url = ../third_party/googletest
[submodule "third_party/grpc"]
	branch = c34f3ae536e89e04fbfa0bcfa3ba1a363ce54b66
	path = third_party/grpc
	url = ../third_party/grpc
[submodule "third_party/gtest"]
	branch = 6d7c114813d1623ff380965431db75069ede4139
	path = third_party/gtest
	url = ../third_party/gtest
[submodule "third_party/harfbuzz"]
	branch = 2eed78c0bb5f2b12ace17d03cfa68b9f1535c85d
	path = third_party/harfbuzz
	url = ../third_party/harfbuzz
[submodule "third_party/icu"]
	branch = 8894665e5662b64e05386efdbaedcbc6095ca970
	path = third_party/icu
	url = ../third_party/icu
[submodule "third_party/iperf"]
	branch = 60a3d5ab0fbffb177b37e9a47dec57aba1de11ea
	path = third_party/iperf
	url = ../third_party/iperf
[submodule "third_party/jinja2"]
	branch = ce94d60376c2ef59799915a44829311b2114d6c4
	path = third_party/jinja2
	url = ../third_party/jinja2
[submodule "third_party/leveldb"]
	branch = 1242372f0edb4ff7bb0e242bd4274393c3c6a984
	path = third_party/leveldb
	url = ../third_party/leveldb
[submodule "third_party/libc-tests"]
	branch = f61897ea129c33a7d864696bf9d26e9af997ae29
	path = third_party/libc-tests
	url = ../libc-tests
[submodule "third_party/libjpeg-turbo"]
	branch = 5bd412c6ff5b706336ae214b4511b6a5d3b8759a
	path = third_party/libjpeg-turbo
	url = ../third_party/libjpeg-turbo
[submodule "third_party/libpng"]
	branch = e966646480f7cafc2905a2c78a299c3bfa1de4eb
	path = third_party/libpng
	url = ../third_party/libpng
[submodule "third_party/libteken"]
	branch = b63e85f57ac893c53693decbe1558c33004a66b6
	path = third_party/libteken
	url = ../third_party/libteken
[submodule "third_party/libxml2"]
	branch = 46bc5df64646302b9b0973460d029d6e799f4260
	path = third_party/libxml2
	url = ../third_party/libxml2
[submodule "third_party/llvm"]
	branch = eea8107fac8b7780d6a31b1a416ac130e050139f
	path = third_party/llvm
	url = ../third_party/llvm
[submodule "third_party/mako"]
	branch = e6b41d232315660de544a7a692e58acddd2e612c
	path = third_party/mako
	url = ../third_party/mako
[submodule "third_party/markupsafe"]
	branch = 6c3df89fdae52c55994670427859f2ce33e92763
	path = third_party/markupsafe
	url = ../third_party/markupsafe
[submodule "third_party/mesa"]
	branch = b7a7ee4f1a377d69ec3d0913328a7ae8103c5d4c
	path = third_party/mesa
	url = ../third_party/mesa
[submodule "third_party/murmurhash"]
	branch = bb3a13cb4378fdafcf365521bca5b3a062b9d856
	path = third_party/murmurhash
	url = ../third_party/murmurhash.c
[submodule "third_party/netstack"]
	branch = 7d9f264c872baf145b5bf48e5ba32faddb4db909
	path = third_party/netstack
	url = ../third_party/netstack
[submodule "third_party/openssh-portable"]
	branch = ba54349d6011ab7751ded44266b1ae2ce13c5fec
	path = third_party/openssh-portable
	url = ../third_party/openssh-portable
[submodule "third_party/pixman"]
	branch = master
	shallow = true
	path = third_party/pixman
	url = ../third_party/pixman
[submodule "third_party/processor-trace"]
	branch = a94454c938a6552f34a285fa3c31a9d8d5cbb019
	path = third_party/processor-trace
	url = ../third_party/processor-trace
[submodule "third_party/protobuf"]
	branch = c313f26117c367ebbdca66f82164ed798bfc2c20
	path = third_party/protobuf
	url = ../third_party/protobuf
[submodule "third_party/python/mock"]
	branch = 8c19ef6c95004524cb9f0b170a1aff6f47ade764
	path = third_party/python/mock
	url = ../third_party/python/testing-cabal/mock
[submodule "third_party/pytoml"]
	branch = 8641351699f44401232786cd9f320ac373c3a02e
	path = third_party/pytoml
	url = ../third_party/pytoml
[submodule "third_party/pyyaml"]
	branch = 7f118278ff09fc2deea32b429cffc38856bf6992
	path = third_party/pyyaml
	url = ../third_party/pyyaml
[submodule "third_party/rapidjson"]
	branch = fc692eaf62dfed2764f2e320591884dd55ca9d5f
	path = third_party/rapidjson
	url = ../third_party/rapidjson
[submodule "third_party/re2"]
	branch = c59cb1f7181a821b96116117c559533fdaee3360
	path = third_party/re2
	url = ../third_party/re2
[submodule "third_party/roughtime"]
	branch = 1b87c453239eefdb2363eee5614f621e22d8c7fb
	path = third_party/roughtime
	url = ../third_party/roughtime
[submodule "third_party/rust-crates"]
	branch = 00ce4aa20b08fcb38feb3328cc04bf89e9f90af5
	path = third_party/rust-crates
	url = ../third_party/rust-crates
[submodule "third_party/rust-mirrors/cargo-vendor"]
	branch = 8ca927be7c2b12b0d3e288183493c1079ccad1d4
	path = third_party/rust-mirrors/cargo-vendor
	url = ../third_party/cargo-vendor
[submodule "third_party/rust-mirrors/mio"]
	branch = 5cea7de103fa23cdc4cb627f38fcc468650c4086
	path = third_party/rust-mirrors/mio
	url = ../third_party/mio
[submodule "third_party/rust-mirrors/rand"]
	branch = 90bcc0d682d3527105e92dfbef8213058c700f96
	path = third_party/rust-mirrors/rand
	url = ../third_party/rust-mirrors/rand
[submodule "third_party/rust-mirrors/rustyline"]
	branch = 3b94c073fadb64e35a9ba6e7fe6b622b0c357771
	path = third_party/rust-mirrors/rustyline
	url = ../third_party/rust-mirrors/rustyline
[submodule "third_party/rust-mirrors/tokio-core"]
	branch = 868360fdc047561881d4979dbfbfadcdd70c9fe1
	path = third_party/rust-mirrors/tokio-core
	url = ../third_party/tokio-core
[submodule "third_party/rust-mirrors/xi-editor"]
	branch = 2100f968cb9a5f9e55f96962ec72a0f6e4147cfb
	path = third_party/rust-mirrors/xi-editor
	url = ../third_party/xi-editor
[submodule "third_party/sbase"]
	branch = 65e6e6592687767594450ef14cb934630bb46e4e
	path = third_party/sbase
	url = ../third_party/sbase
[submodule "third_party/shaderc"]
	branch = 2a0f3a3e348072ad6a9e53874188146b895705ba
	path = third_party/shaderc
	url = ../third_party/shaderc
[submodule "third_party/skia"]
	branch = c5715041be752e19e5b12abffaf5dfc06573db4a
	path = third_party/skia
	url = https://skia.googlesource.com/skia
[submodule "third_party/snappy"]
	branch = 624386507169716d08c3310e9d2852cee1b06d01
	path = third_party/snappy
	url = ../third_party/snappy
[submodule "third_party/spirv-cross"]
	branch = 3a8335eee078e3a5c06db8603c89f4f121ec5cfa
	path = third_party/spirv-cross
	url = ../third_party/spirv-cross
[submodule "third_party/sqlite"]
	branch = 75a36fe49cdc4611348136918bc9c6de56d0dc73
	path = third_party/sqlite
	url = ../third_party/sqlite
[submodule "third_party/syzkaller"]
	branch = b88872ba0e2ae9243628945e3ea2a3ae89a92bf7
	path = third_party/syzkaller
	url = ../third_party/syzkaller
[submodule "third_party/vboot_reference"]
	branch = 57dd611f3cc47cc702627e912f4bb80d1c95d372
	path = third_party/vboot_reference
	url = ../third_party/vboot_reference
[submodule "third_party/vim"]
	branch = b8b799044d57296ae5ef12a16dd45419383241fb
	path = third_party/vim
	url = ../third_party/vim
[submodule "third_party/vulkan-cts"]
	branch = 0b0bcc6588eca26b451e49d6a8769011fadcda18
	path = third_party/vulkan-cts
	url = ../third_party/vulkan-cts
[submodule "third_party/vulkan_loader_and_validation_layers"]
	branch = ae8aa1c4e396b2d9d27a141c5abfc9afb21d7386
	path = third_party/vulkan_loader_and_validation_layers
	url = ../third_party/vulkan_loader_and_validation_layers
[submodule "third_party/webkit"]
	branch = master
	shallow = true
	path = third_party/webkit
	url = ../third_party/webkit
[submodule "third_party/yasm"]
	branch = edb428581932cfc87873aa44f4ff8b3a8c37bd09
	path = third_party/yasm
	url = ../third_party/yasm
[submodule "third_party/zlib"]
	branch = f0b417f596815c67d7fbdf48faa2ce39dde0f672
	path = third_party/zlib
	url = ../third_party/zlib
[submodule "topaz"]
	branch = master
	path = topaz
	url = ../topaz
[submodule "zircon"]
	branch = a6922f8fcef6b890b938f58d9b32eed08d8e5e29
	path = zircon
	url = ../zircon
