[submodule "build"]
	branch = ba9abb81559f5a20d85f5c0955183a0032d23489
	path = build
	url = ../build
[submodule "buildtools"]
	branch = 62944ad456b27271b0fe1d31eb7d161866f9708e
	path = buildtools
	url = ../buildtools
[submodule "docs"]
	branch = master
	path = docs
	url = ../docs
[submodule "garnet"]
	branch = 6ee295a7aac425af0e6a424a7a36b4b6d3378a6b
	path = garnet
	url = ../garnet
[submodule "peridot"]
	branch = caaa85f4e9c8fcd178017383e871169fa9078b29
	path = peridot
	url = ../peridot
[submodule "scripts"]
	branch = dd775c96c6a266bdbfeba6fd5374ce82337d8619
	path = scripts
	url = ../scripts
[submodule "third_party/android/platform/external/aac"]
	branch = a3e0aa5f25908d92535e045bbde73c9a3d19adc7
	path = third_party/android/platform/external/aac
	url = ../third_party/android/platform/external/aac
[submodule "third_party/android/platform/frameworks/av"]
	branch = d31b6e37f0b04a19ce084ffd60cd1c210241d24b
	path = third_party/android/platform/frameworks/av
	url = ../third_party/android/platform/frameworks/av
[submodule "third_party/android/platform/frameworks/native"]
	branch = 266790e13c68c0cf6b9ef7dde14034619ed74916
	path = third_party/android/platform/frameworks/native
	url = ../third_party/android/platform/frameworks/native
[submodule "third_party/android/platform/system/core"]
	branch = 5e041a4f45c72e1f2c283af21a40880fbb938d26
	path = third_party/android/platform/system/core
	url = ../third_party/android/platform/system/core
[submodule "third_party/asio"]
	branch = b7b0aeca406bb60e981c20e6a9af1d0aae31fc48
	path = third_party/asio
	url = ../third_party/asio
[submodule "third_party/benchmark"]
	branch = 21f1eb3fe269ea43eba862bf6b699cde46587ade
	path = third_party/benchmark
	url = ../third_party/benchmark
[submodule "third_party/boringssl"]
	branch = 571ec27c0a0321259b0d2f62720e30a06e6c03b9
	path = third_party/boringssl
	url = ../third_party/boringssl
[submodule "third_party/cairo"]
	branch = master
	shallow = true
	path = third_party/cairo
	url = ../third_party/cairo
[submodule "third_party/cares"]
	branch = 5dd7311f75417bb4882a4048c011fb0b14345a53
	path = third_party/cares
	url = ../third_party/c-ares
[submodule "third_party/catapult"]
	branch = c7e7bd382c39dc01d8c025ae6ee6c64212caef5b
	path = third_party/catapult
	url = https://chromium.googlesource.com/catapult
[submodule "third_party/cobalt"]
	branch = 008d7a817f0a7f819aebaae08ab0d11bb8eb6f2f
	path = third_party/cobalt
	url = ../cobalt
[submodule "third_party/cobalt_config"]
	branch = d3e8ebce5957f21b94d898ec57cde5ae921670d2
	path = third_party/cobalt_config
	url = https://cobalt-analytics.googlesource.com/config
[submodule "third_party/crashpad"]
	branch = f8b0538406ea35cd19beb33f1f9c48807c670014
	path = third_party/crashpad
	url = https://chromium.googlesource.com/crashpad/crashpad
[submodule "third_party/curl"]
	branch = 8b3d7e5dbce3607c7a735e9cd84b47da991fbbfd
	path = third_party/curl
	url = ../third_party/curl
[submodule "third_party/dart-pkg/git/flutter"]
	branch = db8d63575e120543f41681ee4ee0f0de75d816de
	path = third_party/dart-pkg/git/flutter
	url = https://chromium.googlesource.com/external/github.com/flutter/flutter
[submodule "third_party/dart-pkg/pub"]
	branch = d33df2d70e40a439401d80842eba42f149d7fe07
	path = third_party/dart-pkg/pub
	url = ../third_party/dart-pkg
[submodule "third_party/dart"]
	branch = be6309690fd60284a87f3258a740c7c30efb1092
	path = third_party/dart
	url = https://dart.googlesource.com/sdk
[submodule "third_party/etnaviv_gpu_tests"]
	branch = 58d012cde0de66c2b883b91ded3c8fc6534cd8d1
	path = third_party/etnaviv_gpu_tests
	url = ../third_party/etnaviv_gpu_tests
[submodule "third_party/expat"]
	branch = 66a4adc042f17bd113d3d940bcff46ec17c15f61
	path = third_party/expat
	url = ../third_party/expat
[submodule "third_party/flatbuffers"]
	branch = f539331904a1f5f3e14f1fe7ccf767a40359c9d4
	path = third_party/flatbuffers
	url = ../third_party/flatbuffers
[submodule "third_party/flite"]
	branch = 3fb3d1f9813a7d71641d3aa5d0a055abbb2b2ada
	path = third_party/flite
	url = ../third_party/flite
[submodule "third_party/flutter"]
	branch = 4ee648914f91909d2153e2ee76a057d970b0512d
	path = third_party/flutter
	url = https://chromium.googlesource.com/external/github.com/flutter/engine
[submodule "third_party/freetype2"]
	branch = bd6b6b9105f69808cbe50b5cde2775759eb0802d
	path = third_party/freetype2
	url = ../third_party/freetype2
[submodule "third_party/gflags"]
	branch = 90d1674de7ffc572267d9642d1a6436f168e80e7
	path = third_party/gflags
	url = ../third_party/gflags
[submodule "third_party/glm"]
	branch = 5dcc56489e1b66dfd5bca751fa9b8dc68059e008
	path = third_party/glm
	url = https://chromium.googlesource.com/external/github.com/g-truc/glm
[submodule "third_party/glog"]
	branch = fc4ff6b75c3f5a1678b47e1c2566fedc6c089dd0
	path = third_party/glog
	url = ../third_party/glog
[submodule "third_party/go"]
	branch = 50ecc3ed0b1b5f57a1c6a14bc87db5b77a783512
	path = third_party/go
	url = ../third_party/go
[submodule "third_party/golibs/github.com/dustin/go-humanize"]
	branch = 259d2a102b871d17f30e3cd9881a642961a1e486
	path = third_party/golibs/github.com/dustin/go-humanize
	url = ../third_party/go-humanize
[submodule "third_party/golibs/github.com/flynn/go-docopt"]
	branch = f6dd2ebbb31e9721c860cf1faf5c944aa73e3844
	path = third_party/golibs/github.com/flynn/go-docopt
	url = ../third_party/go-docopt
[submodule "third_party/golibs/github.com/flynn/go-tuf"]
	branch = 18c41c82ff2cbcd22d24b4c96e3d25e3863ce53f
	path = third_party/golibs/github.com/flynn/go-tuf
	url = ../third_party/go-tuf
[submodule "third_party/golibs/github.com/go-yaml/yaml"]
	branch = eb3733d160e74a9c7e442f435eb3bea458e1d19f
	path = third_party/golibs/github.com/go-yaml/yaml
	url = ../third_party/github.com/go-yaml/yaml
[submodule "third_party/golibs/github.com/golang/glog"]
	branch = 23def4e6c14b4da8ac2ed8007337bc5eb5007998
	path = third_party/golibs/github.com/golang/glog
	url = ../third_party/golang/glog
[submodule "third_party/golibs/github.com/golang/protobuf"]
	branch = a8c86c1ebfbf816a3a824ea4472ba69149e2efac
	path = third_party/golibs/github.com/golang/protobuf
	url = ../third_party/github.com/golang/protobuf
[submodule "third_party/golibs/github.com/golang/snappy"]
	branch = 553a641470496b2327abcac10b36396bd98e45c9
	path = third_party/golibs/github.com/golang/snappy
	url = ../third_party/golang/snappy
[submodule "third_party/golibs/github.com/google/go-cmp"]
	branch = 97aa668b73e764ccdd786bc3ccd2edffe621150e
	path = third_party/golibs/github.com/google/go-cmp
	url = ../third_party/github.com/google/go-cmp
[submodule "third_party/golibs/github.com/google/netstack"]
	branch = fec645892d75353b1eac2a3ab7bcf103b3bfa25b
	path = third_party/golibs/github.com/google/netstack
	url = ../third_party/netstack
[submodule "third_party/golibs/github.com/google/subcommands"]
	branch = ce3d4cfc062faac7115d44e5befec8b5a08c3faa
	path = third_party/golibs/github.com/google/subcommands
	url = ../third_party/github.com/google/subcommands
[submodule "third_party/golibs/github.com/kr/fs"]
	branch = 2788f0dbd16903de03cb8186e5c7d97b69ad387b
	path = third_party/golibs/github.com/kr/fs
	url = ../third_party/github.com/kr/fs
[submodule "third_party/golibs/github.com/pkg/errors"]
	branch = c605e284fe17294bda444b34710735b29d1a9d90
	path = third_party/golibs/github.com/pkg/errors
	url = ../third_party/github.com/pkg/errors
[submodule "third_party/golibs/github.com/pkg/sftp"]
	branch = 98203f5a8333288eb3163b7c667d4260fe1333e9
	path = third_party/golibs/github.com/pkg/sftp
	url = ../third_party/github.com/pkg/sftp
[submodule "third_party/golibs/github.com/rjw57/oauth2device"]
	branch = bdda779088fb7d541bfc2b682a7949061817eb46
	path = third_party/golibs/github.com/rjw57/oauth2device
	url = ../third_party/github.com/rjw57/oauth2device
[submodule "third_party/golibs/github.com/syndtr/goleveldb"]
	branch = 52ea2dd038a560e2a5a69403fb759ca8a8968257
	path = third_party/golibs/github.com/syndtr/goleveldb
	url = ../third_party/goleveldb
[submodule "third_party/golibs/github.com/tent/canonical-json-go"]
	branch = 96e4ba3a7613a1216cbd1badca4efe382adea337
	path = third_party/golibs/github.com/tent/canonical-json-go
	url = ../third_party/canonical-json-go
[submodule "third_party/golibs/golang.org/x/crypto"]
	branch = c78caca803c95773f48a844d3dcab04b9bc4d6dd
	path = third_party/golibs/golang.org/x/crypto
	url = ../third_party/golang/crypto
[submodule "third_party/golibs/golang.org/x/net"]
	branch = a04bdaca5b32abe1c069418fb7088ae607de5bd0
	path = third_party/golibs/golang.org/x/net
	url = ../third_party/golang.org/x/net
[submodule "third_party/golibs/golang.org/x/oauth2"]
	branch = bb50c06baba3d0c76f9d125c0719093e315b5b44
	path = third_party/golibs/golang.org/x/oauth2
	url = ../third_party/golang.org/x/oauth2
[submodule "third_party/googleapis"]
	branch = a5e837ad4ef5b00eccfb93f2d97e8c52ad78bcbf
	path = third_party/googleapis
	url = ../third_party/googleapis
[submodule "third_party/googletest"]
	branch = f854f1d27488996dc8a6db3c9453f80b02585e12
	path = third_party/googletest
	url = ../third_party/googletest
[submodule "third_party/grpc"]
	branch = 0ff685360babf70bc5f8be5ed90fd57bf241dc00
	path = third_party/grpc
	url = ../third_party/grpc
[submodule "third_party/gtest"]
	branch = 6d7c114813d1623ff380965431db75069ede4139
	path = third_party/gtest
	url = ../third_party/gtest
[submodule "third_party/harfbuzz"]
	branch = d837034f09a957faf2814002e8ebd81da6151d1b
	path = third_party/harfbuzz
	url = ../third_party/harfbuzz
[submodule "third_party/icu"]
	branch = 15006476e9d2f5c7d6691f3658fecff4929aaf68
	path = third_party/icu
	url = ../third_party/icu
[submodule "third_party/iperf"]
	branch = 60a3d5ab0fbffb177b37e9a47dec57aba1de11ea
	path = third_party/iperf
	url = ../third_party/iperf
[submodule "third_party/jinja2"]
	branch = ce94d60376c2ef59799915a44829311b2114d6c4
	path = third_party/jinja2
	url = ../third_party/jinja2
[submodule "third_party/leveldb"]
	branch = 7b6b590cb22a53cac7dff58afa48130d4a16c06e
	path = third_party/leveldb
	url = ../third_party/leveldb
[submodule "third_party/libc-tests"]
	branch = f61897ea129c33a7d864696bf9d26e9af997ae29
	path = third_party/libc-tests
	url = ../libc-tests
[submodule "third_party/libjpeg-turbo"]
	branch = 5bd412c6ff5b706336ae214b4511b6a5d3b8759a
	path = third_party/libjpeg-turbo
	url = ../third_party/libjpeg-turbo
[submodule "third_party/libpng"]
	branch = e966646480f7cafc2905a2c78a299c3bfa1de4eb
	path = third_party/libpng
	url = ../third_party/libpng
[submodule "third_party/libteken"]
	branch = b63e85f57ac893c53693decbe1558c33004a66b6
	path = third_party/libteken
	url = ../third_party/libteken
[submodule "third_party/libxml2"]
	branch = 46bc5df64646302b9b0973460d029d6e799f4260
	path = third_party/libxml2
	url = ../third_party/libxml2
[submodule "third_party/llvm"]
	branch = eea8107fac8b7780d6a31b1a416ac130e050139f
	path = third_party/llvm
	url = ../third_party/llvm
[submodule "third_party/mako"]
	branch = e6b41d232315660de544a7a692e58acddd2e612c
	path = third_party/mako
	url = ../third_party/mako
[submodule "third_party/markupsafe"]
	branch = 6c3df89fdae52c55994670427859f2ce33e92763
	path = third_party/markupsafe
	url = ../third_party/markupsafe
[submodule "third_party/mesa"]
	branch = 20a71578dc2349dcb36226aa6cb964fe0f0489ec
	path = third_party/mesa
	url = ../third_party/mesa
[submodule "third_party/murmurhash"]
	branch = bb3a13cb4378fdafcf365521bca5b3a062b9d856
	path = third_party/murmurhash
	url = ../third_party/murmurhash.c
[submodule "third_party/openssh-portable"]
	branch = 961fd14159e8bde1185388dcf4bb240a7fa49841
	path = third_party/openssh-portable
	url = ../third_party/openssh-portable
[submodule "third_party/pixman"]
	branch = master
	shallow = true
	path = third_party/pixman
	url = ../third_party/pixman
[submodule "third_party/processor-trace"]
	branch = a94454c938a6552f34a285fa3c31a9d8d5cbb019
	path = third_party/processor-trace
	url = ../third_party/processor-trace
[submodule "third_party/protobuf"]
	branch = c313f26117c367ebbdca66f82164ed798bfc2c20
	path = third_party/protobuf
	url = ../third_party/protobuf
[submodule "third_party/python/mock"]
	branch = 8c19ef6c95004524cb9f0b170a1aff6f47ade764
	path = third_party/python/mock
	url = ../third_party/python/testing-cabal/mock
[submodule "third_party/pytoml"]
	branch = 8641351699f44401232786cd9f320ac373c3a02e
	path = third_party/pytoml
	url = ../third_party/pytoml
[submodule "third_party/pyyaml"]
	branch = 7f118278ff09fc2deea32b429cffc38856bf6992
	path = third_party/pyyaml
	url = ../third_party/pyyaml
[submodule "third_party/rapidjson"]
	branch = fc692eaf62dfed2764f2e320591884dd55ca9d5f
	path = third_party/rapidjson
	url = ../third_party/rapidjson
[submodule "third_party/re2"]
	branch = c59cb1f7181a821b96116117c559533fdaee3360
	path = third_party/re2
	url = ../third_party/re2
[submodule "third_party/roughtime"]
	branch = 1b87c453239eefdb2363eee5614f621e22d8c7fb
	path = third_party/roughtime
	url = ../third_party/roughtime
[submodule "third_party/rust-crates"]
	branch = c2b1e8ce82f8dd6e3447e4a5075a2874888057f5
	path = third_party/rust-crates
	url = ../third_party/rust-crates
[submodule "third_party/rust-mirrors/cargo-vendor"]
	branch = 8ca927be7c2b12b0d3e288183493c1079ccad1d4
	path = third_party/rust-mirrors/cargo-vendor
	url = ../third_party/cargo-vendor
[submodule "third_party/rust-mirrors/mio"]
	branch = 5cea7de103fa23cdc4cb627f38fcc468650c4086
	path = third_party/rust-mirrors/mio
	url = ../third_party/mio
[submodule "third_party/rust-mirrors/rand"]
	branch = 90bcc0d682d3527105e92dfbef8213058c700f96
	path = third_party/rust-mirrors/rand
	url = ../third_party/rust-mirrors/rand
[submodule "third_party/rust-mirrors/rust-crypto"]
	branch = 5a39bcd25c4157c64298294de2a53ce3f9ab79c8
	path = third_party/rust-mirrors/rust-crypto
	url = ../third_party/rust-mirrors/rust-crypto
[submodule "third_party/rust-mirrors/rustyline"]
	branch = 3b94c073fadb64e35a9ba6e7fe6b622b0c357771
	path = third_party/rust-mirrors/rustyline
	url = ../third_party/rust-mirrors/rustyline
[submodule "third_party/rust-mirrors/tokio-core"]
	branch = 868360fdc047561881d4979dbfbfadcdd70c9fe1
	path = third_party/rust-mirrors/tokio-core
	url = ../third_party/tokio-core
[submodule "third_party/rust-mirrors/xi-editor"]
	branch = 2100f968cb9a5f9e55f96962ec72a0f6e4147cfb
	path = third_party/rust-mirrors/xi-editor
	url = ../third_party/xi-editor
[submodule "third_party/sbase"]
	branch = 1a8d14e4550a2f45291f299d3e4124eef03feb76
	path = third_party/sbase
	url = ../third_party/sbase
[submodule "third_party/shaderc"]
	branch = 2a0f3a3e348072ad6a9e53874188146b895705ba
	path = third_party/shaderc
	url = ../third_party/shaderc
[submodule "third_party/skia"]
	branch = 937efc3b02b687e871b9e99242bcb3d696d6ee35
	path = third_party/skia
	url = https://skia.googlesource.com/skia
[submodule "third_party/snappy"]
	branch = 624386507169716d08c3310e9d2852cee1b06d01
	path = third_party/snappy
	url = ../third_party/snappy
[submodule "third_party/spirv-cross"]
	branch = 3a8335eee078e3a5c06db8603c89f4f121ec5cfa
	path = third_party/spirv-cross
	url = ../third_party/spirv-cross
[submodule "third_party/sqlite"]
	branch = 75a36fe49cdc4611348136918bc9c6de56d0dc73
	path = third_party/sqlite
	url = ../third_party/sqlite
[submodule "third_party/syzkaller"]
	branch = a11f6eb4e31a474c1d54e9ff9846227be88bb797
	path = third_party/syzkaller
	url = ../third_party/syzkaller
[submodule "third_party/tonic"]
	branch = 6bab0f304b043d8cf09900334e78b63111f76c5c
	path = third_party/tonic
	url = ../tonic
[submodule "third_party/vboot_reference"]
	branch = 57dd611f3cc47cc702627e912f4bb80d1c95d372
	path = third_party/vboot_reference
	url = ../third_party/vboot_reference
[submodule "third_party/vim"]
	branch = b8b799044d57296ae5ef12a16dd45419383241fb
	path = third_party/vim
	url = ../third_party/vim
[submodule "third_party/vulkan-cts"]
	branch = d9560a4b6a9aa7934ffa65f4bed320946f8b12e4
	path = third_party/vulkan-cts
	url = ../third_party/vulkan-cts
[submodule "third_party/vulkan_loader_and_validation_layers"]
	branch = fdfa431aa1381f85717cf005df30e34002dded0c
	path = third_party/vulkan_loader_and_validation_layers
	url = ../third_party/vulkan_loader_and_validation_layers
[submodule "third_party/webkit"]
	branch = master
	shallow = true
	path = third_party/webkit
	url = ../third_party/webkit
[submodule "third_party/yasm"]
	branch = edb428581932cfc87873aa44f4ff8b3a8c37bd09
	path = third_party/yasm
	url = ../third_party/yasm
[submodule "third_party/zlib"]
	branch = 5a6d2ed866da7e104c6e79fc2f2a9d5e0738cb98
	path = third_party/zlib
	url = ../third_party/zlib
[submodule "topaz"]
	branch = master
	path = topaz
	url = ../topaz
[submodule "zircon"]
	branch = 83183985ab582ebd0756e61657bac9bd3d87c0c1
	path = zircon
	url = ../zircon
